<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="APIKEY" value="c67cb531ccc574da872235336a0ab01b"/>
    <add key="APPSID" value="5c35f184-2b70-46fe-9894-cf27553b81cd"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>